.projects-mc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-title {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 10%),
      rgb(0, 0, 0) 20%
    ),
    /* Top fade */ linear-gradient(to right, red, blue); /* Horizontal gradient */
  background-size: 100% 100%, 100% 50%; /* Apply sizes for both layers */
  background-position: 0 50%, 0 100%; /* Align both layers to the bottom */
  background-repeat: no-repeat;
  border: 1px solid black;
  overflow: hidden;
}

.projects-title > h1 {
  text-align: center;
  line-height: 210px;
  margin: 0;
  font-size: clamp(4rem, 12vw, 10rem);
}

.projects-display-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container-1 {
  flex: 1;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: all 0.8s;
}

.projects-container-1:hover {
  flex: 1.5;
}
.projects-container-1:hover > .dark-bg {
  background-color: rgba(240, 248, 255, 0);
}

.projects-container-1:hover > .project-info > h1 {
  z-index: -1;
}
.projects-container-1:hover > .project-info > p {
  z-index: -1;
}

.projects-container-2 {
  flex: 1;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: all 0.8s;
}

.projects-container-2:hover {
  flex: 1.5;
}
.projects-container-2:hover > .dark-bg {
  background-color: rgba(240, 248, 255, 0);
}

.projects-container-2:hover > .project-info > h1 {
  z-index: -1;
}
.projects-container-2:hover > .project-info > p {
  z-index: -1;
}
.projects-container-3 {
  flex: 1;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: all 0.8s;
}

.projects-container-3:hover {
  flex: 1.5;
}
.projects-container-3:hover > .dark-bg {
  background-color: rgba(240, 248, 255, 0);
}

.projects-container-3:hover > .project-info > h1 {
  z-index: -1;
}
.projects-container-3:hover > .project-info > p {
  z-index: -1;
}
.projects-container-4 {
  flex: 1;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition: all 0.8s;
}

.projects-container-4:hover {
  flex: 1.5;
}
.projects-container-4:hover > .dark-bg {
  background-color: rgba(240, 248, 255, 0);
}

.projects-container-4:hover > .project-info > h1 {
  z-index: -1;
}
.projects-container-4:hover > .project-info > p {
  z-index: -1;
}

.projects-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

.project-info {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.project-info > h1 {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 3rem);
  z-index: 3;
}
.project-info > p {
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  z-index: 3;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.848);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.8s;
}

@media only screen and (max-width: 600px) {
  .projects-display-container {
    flex-direction: column;
  }

  .project-info {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 400px) {
}
