.button-main {
  width: fit-content;
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-size: clamp(1.5rem, 10vw, 2rem);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 0.8s ease; /* Smooth transition for text color */
}

.button-main::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: linear-gradient(45deg, #f6ac70, #a32729);
  z-index: -1;
  border-radius: inherit;
  transition: background 0.8s ease;
}

.button-main::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: black;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset -1px 2px 10px #f05d49;
  transition: box-shadow 0.8s ease, background 0.8s ease;
}

.button-main:hover {
  color: #f6ac70;
}

.button-main:hover::before {
  background: linear-gradient(45deg, #f05d49, #f6ac70);
}

.button-main:hover::after {
  box-shadow: none;
}
