body {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "Font1";
  src: url("./Kanit-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font1 {
  font-family: "Font1", sans-serif;
}
