.intro-mc {
  width: 100%;
  height: auto;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-title {
  font-size: clamp(3rem, 9vw, 7rem);
  text-align: center;
  margin: 0;
  line-height: 1.1;
}

.intro-photo-blerb-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.intro-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}
.intro-blerb-button-container {
  width: 55%;
  height: clamp(510px, 55vh - 1vw, 590px);
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.intro-blerb {
  font-size: clamp(1.1rem, 2.1vw, 2rem);
}

@media only screen and (max-width: 600px) {
  .intro-mc {
    height: fit-content;
    padding: 10px 8px;
  }
  .intro-photo-blerb-container {
    flex-direction: column;
    align-items: center;
  }
  .intro-text {
    margin: 0;
  }
  .intro-text > h1 {
    margin: 0;
    line-height: 1.1;
  }
  .intro-blerb-button-container {
    width: 100%;
    height: fit-content;
  }
  .intro-blerb {
    font-size: 1.3rem;
  }
  .intro-img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .intro-blerb {
    font-size: 1.2rem;
  }
}
