.nav-mc {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  z-index: 9;

  /* Background */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Border and Shadow */
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 12px 32px rgba(0, 0, 0, 0.25),
    /* Slightly reduced main shadow intensity */ inset -2px -2px 5px
      rgba(255, 255, 255, 0.3); /* Brightened inset shadow */

  /* Rounded Corners */
  border-radius: 100px;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logo-img {
  width: clamp(70px, 8vw, 110px);
  height: clamp(70px, 8vw, 110px);
  border-radius: 50%;
}

.nav-links-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  margin: 0;
  font-size: clamp(2rem, 3vw, 3.2rem);

  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: rgb(252, 115, 30);
  text-shadow: -1px 1px 1px rgb(35, 35, 35);
}
